{% extends "coinapp/layout.html" %}
{% block content %}
<script>
$(function () {
    $('table.data-table').DataTable({
        paging: false,
        info: false,
        dom: 'Bfrtip',
        buttons: [{
            extend:'excel',
            filename:'file_name',
            title:'title'
        }],
        language: {
            "decimal": ",",
            "thousands": "."
        }
    });
});
</script>
    <h1>{{title}}</h1>
    <table class="table table-bordered data-table">
        <thead>
            <tr>
                <th>코인명</th>
                <th>가격</th>
                <th>거래소</th>
            </tr>            
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.exchage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}